h1{text-align:center; font-weight:bold; color:black;}


body {background-color: gray;}

.wrap {text-align:center; width:90%; margin: 0 auto; border: 2px solid black; height:90%}

.header { text-align:center; padding:25px;}
.headerImg {text-align: center; width:200px;}
.headerText {text-align: center; height:105px; padding-top:50px; padding-left:25px;}

form{display: block; margin:0;}


.main { text-align:center; padding:25px;}

.footer { text-align:center; padding:25px;}


table{width: 80%; text-align: center; background-color:black; width:50%; color:whitesmoke;}
th{text-align: center; vertical-align: middle; background-color:#FFFF99; color:#696969; padding:25px;}
td{border:2px solid white; padding:15px;}
input{text-align: center;}
a{text-align:center; font-weight:bold;}
.container {padding-right: 15px; padding-left:15px; margin-right: auto; margin-left: auto;}

.update td{border: none; height:25px; padding:10px; font-weight:bold;}

input[readonly] {background-color:gray;}

/*Fat Erik's Pipelist*/
/* http://css.maxdesign.com.au/listamatic/horizontal32.htm */

.navcontainer { margin-left: 30px; text-align:center; }

.navlist
{
list-style: none;
padding: 0;
margin: 0;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
display: block;
float: left;
}
